/* Header */
.top {
	display: flex;
	padding: 20px 40px;
	justify-content: space-between;
	align-items: center;
}

.top-content {
	display: flex;
	gap: 25px;
}

.store,
.order {
	display: flex;
	align-items: center;
	gap: 6px;
}

.header {
	display: flex;
	background-color: var(--dark-blue);
	justify-content: space-between;
	padding: 20px 40px;
	position: relative;
}

.left-side {
	display: flex;
}

.left-side img {
	padding-right: 80px;
}

.personal-status {
	display: flex;
	gap: 20px;
}

.personal-status p {
	color: var(--primary-white);
}

.align-center {
	display: flex;
	align-items: center;
	gap: 6px;
}

.search-input {
	position: relative;
}

#search {
	padding: 15px 20px;
	width: 400px;
	border-radius: 18px;
	border: none;
}

.search-btn {
	padding: 15px 20px;
	background-color: var(--orange);
	color: var(--primary-white);
	border: none;
	border-radius: 18px;
	width: 130px;
	position: absolute;
	right: 0;
}

/* Navigation */
.navigation {
	display: flex;
	padding: 0 40px;
	justify-content: space-between;
	background-color: var(--light-grey);
	height: 8vh;
}

.navigation-bar {
	display: flex;
	gap: 20px;
}

.navigation-bar li {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 10px;
}

.navigation-bar a {
	text-decoration: none;
	color: var(--gray-black);
}

.categories {
	margin-right: 40px;
	background-color: var(--orange);
	padding-inline: 10px;
}

.categories a {
	color: white;
}

.days {
	align-self: center;
}

.days p {
	font-weight: 600;
	color: var(--dark-blue);
}

/* Hero */
.hero-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
}

.left-section h1 {
	font-size: 43px;
	color: var(--secondary-blue);
	line-height: 64.5px;
	margin-bottom: 20px;
}

.shop {
	padding: 15px 20px;
	background-color: var(--orange);
	color: var(--primary-white);
	border: none;
	border-radius: 13px;
	width: 120px;
	margin-right: 10px;
}

.view {
	padding: 15px 20px;
	background-color: var(--primary-white);
	color: var(--secondary-blue);
	border: 1px solid var(--secondary-blue);
	border-radius: 13px;
	width: 120px;
	margin-right: 10px;
}

.alice-carousel__dots {
	margin: 0 !important;
	position: absolute;
	top: 80%;
	left: 20%;
}

/* popular products */

.popular-container {
	padding: 30px 50px;
}

.popular-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.filter {
	display: flex;
	gap: 30px;
}

.filter span {
	border: 1px solid;
	padding: 10px;
	border-radius: 16px;
}

.popular-product {
	border: 1px solid var(--gray);
	padding: 15px;
	border-radius: 20px;
	margin-top: 10px;
	position: relative;
	cursor: pointer;
}

.popular-product > img {
	display: block;
	margin: auto;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	margin: 10px 0;
}

.popular-products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.heart-icon {
	position: absolute;
	right: 20px;
	background-color: var(--blue);
	padding: 5px 9px 2px;
	border-radius: 50%;
	cursor: pointer;
}

/* wishlist */

.wishlist {
	border: 1px solid var(--primary-grey);
	background-color: var(--primary-white);
	position: absolute;
	top: 75%;
	right: 8%;
	width: 300px;
	padding: 20px;
	border-radius: 6px;
	z-index: 2;
}

.wishlist h3 {
	margin-bottom: 20px;
}

.wishlist h4 {
	color: var(--blue);
	font-weight: 400;
}

.wishlist-product {
	display: flex;
	align-items: center;
	gap: 20px;
	border-bottom: 1px solid var(--gray);
	padding: 10px 0;
}

.wishlist-product img {
	width: 100px;
}

.product-content p {
	color: var(--gray-black);
	margin-bottom: 10px;
	font-size: 14px;
}

/* sale */
.sale-background {
	background-repeat: no-repeat;
	background-position: center;
	height: 420px;
	position: relative;
}

.sale-content {
	text-align: center;
	position: absolute;
	right: 20%;
	top: 25%;
}

.sale-background p {
	color: var(--primary-white);
	margin-bottom: 30px;
}

.sale-background h1 {
	color: var(--light-blue);
	font-size: 41px;
	margin-top: 20px;
}

.sale-btn {
	background-color: var(--orange);
	color: var(--primary-white);
	border: none;
	padding: 15px 20px;
	border-radius: 20px;
}

/* product showcase */
.product-showcase {
	display: flex;
	justify-content: center;
	margin: 50px 0;
	gap: 40px;
}

.first-product {
	display: flex;
	align-items: center;
	flex: 0.6;
	border: 1px solid var(--primary-grey);
	border-radius: 20px;
	padding: 20px 50px;
}

.product {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 600px;
	border-radius: 20px;
	border: 1px solid var(--primary-grey);
	padding: 20px;
}

.product:first-child {
	margin-bottom: 20px;
}

.showcase-content p {
	margin: 10px 0;
}

.cart-btn {
	margin-top: 10px;
}

.cart-btn button {
	display: flex;
	align-items: center;
	border: none;
	padding: 10px 25px;
	gap: 20px;
	border-radius: 20px;
	background-color: var(--light-blue);
	color: var(--primary-white);
}

.cart-btn img {
	width: 35px;
}
